@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoonbd7d.eot?hc836c');
    src: url('../fonts/icomoonbd7d.eot?hc836c#iefix') format('embedded-opentype'),
    url('../fonts/icomoonbd7d.ttf?hc836c') format('truetype'),
    url('../fonts/icomoonbd7d.woff?hc836c') format('woff'),
    url('../fonts/icomoonbd7d.svg?hc836c#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
    speak: none;
    line-height: 1;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-family: 'icomoon' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-apartment:before { content: '\e900'; }
.icon-arrow-down-circle:before { content: '\e901'; }
.icon-arrow-left-circle:before { content: '\e902'; }
.icon-arrow-right-circle:before { content: '\e903'; }
.icon-arrow-up-circle:before { content: '\e904'; }
.icon-bicycle:before { content: '\e905'; }
.icon-bus:before { content: '\e906'; }
.icon-calendar-full:before { content: '\e907'; }
.icon-camera-video:before { content: '\e908'; }
.icon-car:before { content: '\e909'; }
.icon-chart-bars:before { content: '\e90a'; }
.icon-checkmark-circle:before { content: '\e90b'; }
.icon-chevron-down:before { content: '\e90c'; }
.icon-chevron-down-circle:before { content: '\e90d'; }
.icon-chevron-left:before { content: '\e90e'; }
.icon-chevron-left-circle:before { content: '\e90f'; }
.icon-chevron-right:before { content: '\e910'; }
.icon-chevron-right-circle:before { content: '\e911'; }
.icon-chevron-up:before { content: '\e912'; }
.icon-chevron-up-circle:before { content: '\e913'; }
.icon-circle-minus:before { content: '\e914'; }
.icon-cloud-sync:before { content: '\e915'; }
.icon-code:before { content: '\e916'; }
.icon-coffee-cup:before { content: '\e917'; }
.icon-construction:before { content: '\e918'; }
.icon-cross-circle:before { content: '\e919'; }
.icon-diamond:before { content: '\e91a'; }
.icon-dinner:before { content: '\e91b'; }
.icon-direction-ltr:before { content: '\e91c'; }
.icon-direction-rtl:before { content: '\e91d'; }
.icon-drop:before { content: '\e91e'; }
.icon-enter-down:before { content: '\e91f'; }
.icon-envelope:before { content: '\e920'; }
.icon-exit-up:before { content: '\e921'; }
.icon-file-add:before { content: '\e922'; }
.icon-film-play:before { content: '\e923'; }
.icon-frame-contract:before { content: '\e924'; }
.icon-frame-expand:before { content: '\e925'; }
.icon-funnel:before { content: '\e926'; }
.icon-graduation-hat:before { content: '\e927'; }
.icon-hand:before { content: '\e928'; }
.icon-heart-pulse:before { content: '\e929'; }
.icon-highlight:before { content: '\e92a'; }
.icon-hourglass:before { content: '\e92b'; }
.icon-inbox:before { content: '\e92c'; }
.icon-laptop-phone:before { content: '\e92d'; }
.icon-layers:before { content: '\e92e'; }
.icon-license:before { content: '\e92f'; }
.icon-lighter:before { content: '\e930'; }
.icon-linearicons:before { content: '\e931'; }
.icon-line-spacing:before { content: '\e932'; }
.icon-magnifier:before { content: '\e933'; }
.icon-map-marker:before { content: '\e934'; }
.icon-menu-circle:before { content: '\e935'; }
.icon-moon:before { content: '\e936'; }
.icon-move:before { content: '\e937'; }
.icon-music-note:before { content: '\e938'; }
.icon-mustache:before { content: '\e939'; }
.icon-paperclip:before { content: '\e93a'; }
.icon-paw:before { content: '\e93b'; }
.icon-phone-handset:before { content: '\e93c'; }
.icon-picture:before { content: '\e93d'; }
.icon-plus-circle:before { content: '\e93e'; }
.icon-pointer-down:before { content: '\e93f'; }
.icon-pointer-left:before { content: '\e940'; }
.icon-pointer-right:before { content: '\e941'; }
.icon-pointer-up:before { content: '\e942'; }
.icon-poop:before { content: '\e943'; }
.icon-power-switch:before { content: '\e944'; }
.icon-question-circle:before { content: '\e945'; }
.icon-screen:before { content: '\e946'; }
.icon-select:before { content: '\e947'; }
.icon-shirt:before { content: '\e948'; }
.icon-smartphone:before { content: '\e949'; }
.icon-star:before { content: '\e94a'; }
.icon-store:before { content: '\e94b'; }
.icon-sync:before { content: '\e94c'; }
.icon-tag:before { content: '\e94d'; }
.icon-text-align-center:before { content: '\e94e'; }
.icon-text-align-justify:before { content: '\e94f'; }
.icon-text-align-left:before { content: '\e950'; }
.icon-text-align-right:before { content: '\e951'; }
.icon-text-format:before { content: '\e952'; }
.icon-text-format-remove:before { content: '\e953'; }
.icon-text-size:before { content: '\e954'; }
.icon-thumbs-down:before { content: '\e955'; }
.icon-thumbs-up:before { content: '\e956'; }
.icon-train:before { content: '\e957'; }
.icon-trash:before { content: '\e958'; }
.icon-unlink:before { content: '\e959'; }
.icon-volume:before { content: '\e95a'; }
.icon-wheelchair:before { content: '\e95b'; }
.icon-home:before { content: '\e95c'; }
.icon-home2:before { content: '\e95d'; }
.icon-home3:before { content: '\e95e'; }
.icon-office:before { content: '\e95f'; }
.icon-newspaper:before { content: '\e960'; }
.icon-pencil:before { content: '\e961'; }
.icon-pencil2:before { content: '\e962'; }
.icon-quill:before { content: '\e963'; }
.icon-pen:before { content: '\e964'; }
.icon-blog:before { content: '\e965'; }
.icon-eyedropper:before { content: '\e966'; }
.icon-droplet:before { content: '\e967'; }
.icon-paint-format:before { content: '\e968'; }
.icon-image:before { content: '\e969'; }
.icon-images:before { content: '\e96a'; }
.icon-camera:before { content: '\e96b'; }
.icon-headphones:before { content: '\e96c'; }
.icon-music:before { content: '\e96d'; }
.icon-play:before { content: '\e96e'; }
.icon-film:before { content: '\e96f'; }
.icon-video-camera:before { content: '\e970'; }
.icon-dice:before { content: '\e971'; }
.icon-pacman:before { content: '\e972'; }
.icon-spades:before { content: '\e973'; }
.icon-clubs:before { content: '\e974'; }
.icon-diamonds:before { content: '\e975'; }
.icon-bullhorn:before { content: '\e976'; }
.icon-connection:before { content: '\e977'; }
.icon-podcast:before { content: '\e978'; }
.icon-feed:before { content: '\e979'; }
.icon-mic:before { content: '\e97a'; }
.icon-book:before { content: '\e97b'; }
.icon-books:before { content: '\e97c'; }
.icon-library:before { content: '\e97d'; }
.icon-file-text:before { content: '\e97e'; }
.icon-profile:before { content: '\e97f'; }
.icon-file-empty:before { content: '\e980'; }
.icon-files-empty:before { content: '\e981'; }
.icon-file-text2:before { content: '\e982'; }
.icon-file-picture:before { content: '\e983'; }
.icon-file-music:before { content: '\e984'; }
.icon-file-play:before { content: '\e985'; }
.icon-file-video:before { content: '\e986'; }
.icon-file-zip:before { content: '\e987'; }
.icon-copy:before { content: '\e988'; }
.icon-paste:before { content: '\e989'; }
.icon-stack:before { content: '\e98a'; }
.icon-folder:before { content: '\e98b'; }
.icon-folder-open:before { content: '\e98c'; }
.icon-folder-plus:before { content: '\e98d'; }
.icon-folder-minus:before { content: '\e98e'; }
.icon-folder-download:before { content: '\e98f'; }
.icon-folder-upload:before { content: '\e990'; }
.icon-price-tag:before { content: '\e991'; }
.icon-price-tags:before { content: '\e992'; }
.icon-barcode:before { content: '\e993'; }
.icon-qrcode:before { content: '\e994'; }
.icon-ticket:before { content: '\e995'; }
.icon-cart:before { content: '\e996'; }
.icon-coin-dollar:before { content: '\e997'; }
.icon-coin-euro:before { content: '\e998'; }
.icon-coin-pound:before { content: '\e999'; }
.icon-coin-yen:before { content: '\e99a'; }
.icon-credit-card:before { content: '\e99b'; }
.icon-calculator:before { content: '\e99c'; }
.icon-lifebuoy:before { content: '\e99d'; }
.icon-phone:before { content: '\e99e'; }
.icon-phone-hang-up:before { content: '\e99f'; }
.icon-address-book:before { content: '\e9a0'; }
.icon-envelop:before { content: '\e9a1'; }
.icon-pushpin:before { content: '\e9a2'; }
.icon-location:before { content: '\e9a3'; }
.icon-location2:before { content: '\e9a4'; }
.icon-compass:before { content: '\e9a5'; }
.icon-compass2:before { content: '\e9a6'; }
.icon-map:before { content: '\e9a7'; }
.icon-map2:before { content: '\e9a8'; }
.icon-history:before { content: '\e9a9'; }
.icon-clock:before { content: '\e9aa'; }
.icon-clock2:before { content: '\e9ab'; }
.icon-alarm:before { content: '\e9ac'; }
.icon-bell:before { content: '\e9ad'; }
.icon-stopwatch:before { content: '\e9ae'; }
.icon-calendar:before { content: '\e9af'; }
.icon-printer:before { content: '\e9b0'; }
.icon-keyboard:before { content: '\e9b1'; }
.icon-display:before { content: '\e9b2'; }
.icon-laptop:before { content: '\e9b3'; }
.icon-mobile:before { content: '\e9b4'; }
.icon-mobile2:before { content: '\e9b5'; }
.icon-tablet:before { content: '\e9b6'; }
.icon-tv:before { content: '\e9b7'; }
.icon-drawer:before { content: '\e9b8'; }
.icon-drawer2:before { content: '\e9b9'; }
.icon-box-add:before { content: '\e9ba'; }
.icon-box-remove:before { content: '\e9bb'; }
.icon-download:before { content: '\e9bc'; }
.icon-upload:before { content: '\e9bd'; }
.icon-floppy-disk:before { content: '\e9be'; }
.icon-drive:before { content: '\e9bf'; }
.icon-database:before { content: '\e9c0'; }
.icon-undo:before { content: '\e9c1'; }
.icon-redo:before { content: '\e9c2'; }
.icon-undo2:before { content: '\e9c3'; }
.icon-redo2:before { content: '\e9c4'; }
.icon-forward:before { content: '\e9c5'; }
.icon-reply:before { content: '\e9c6'; }
.icon-bubble:before { content: '\e9c7'; }
.icon-bubbles:before { content: '\e9c8'; }
.icon-bubbles2:before { content: '\e9c9'; }
.icon-bubble2:before { content: '\e9ca'; }
.icon-bubbles3:before { content: '\e9cb'; }
.icon-bubbles4:before { content: '\e9cc'; }
.icon-user:before { content: '\e9cd'; }
.icon-users:before { content: '\e9ce'; }
.icon-user-plus:before { content: '\e9cf'; }
.icon-user-minus:before { content: '\e9d0'; }
.icon-user-check:before { content: '\e9d1'; }
.icon-user-tie:before { content: '\e9d2'; }
.icon-quotes-left:before { content: '\e9d3'; }
.icon-quotes-right:before { content: '\e9d4'; }
.icon-hour-glass:before { content: '\e9d5'; }
.icon-spinner:before { content: '\e9d6'; }
.icon-spinner2:before { content: '\e9d7'; }
.icon-spinner3:before { content: '\e9d8'; }
.icon-spinner4:before { content: '\e9d9'; }
.icon-spinner5:before { content: '\e9da'; }
.icon-spinner6:before { content: '\e9db'; }
.icon-spinner7:before { content: '\e9dc'; }
.icon-spinner8:before { content: '\e9dd'; }
.icon-spinner9:before { content: '\e9de'; }
.icon-spinner10:before { content: '\e9df'; }
.icon-spinner11:before { content: '\e9e0'; }
.icon-binoculars:before { content: '\e9e1'; }
.icon-search:before { content: '\e9e2'; }
.icon-zoom-in:before { content: '\e9e3'; }
.icon-zoom-out:before { content: '\e9e4'; }
.icon-enlarge:before { content: '\e9e5'; }
.icon-shrink:before { content: '\e9e6'; }
.icon-enlarge2:before { content: '\e9e7'; }
.icon-shrink2:before { content: '\e9e8'; }
.icon-key:before { content: '\e9e9'; }
.icon-key2:before { content: '\e9ea'; }
.icon-lock:before { content: '\e9eb'; }
.icon-unlocked:before { content: '\e9ec'; }
.icon-wrench:before { content: '\e9ed'; }
.icon-equalizer:before { content: '\e9ee'; }
.icon-equalizer2:before { content: '\e9ef'; }
.icon-cog:before { content: '\e9f0'; }
.icon-cogs:before { content: '\e9f1'; }
.icon-hammer:before { content: '\e9f2'; }
.icon-magic-wand:before { content: '\e9f3'; }
.icon-aid-kit:before { content: '\e9f4'; }
.icon-bug:before { content: '\e9f5'; }
.icon-pie-chart:before { content: '\e9f6'; }
.icon-stats-dots:before { content: '\e9f7'; }
.icon-stats-bars:before { content: '\e9f8'; }
.icon-stats-bars2:before { content: '\e9f9'; }
.icon-trophy:before { content: '\e9fa'; }
.icon-gift:before { content: '\e9fb'; }
.icon-glass:before { content: '\e9fc'; }
.icon-glass2:before { content: '\e9fd'; }
.icon-mug:before { content: '\e9fe'; }
.icon-spoon-knife:before { content: '\e9ff'; }
.icon-leaf:before { content: '\ea00'; }
.icon-rocket:before { content: '\ea01'; }
.icon-meter:before { content: '\ea02'; }
.icon-meter2:before { content: '\ea03'; }
.icon-hammer2:before { content: '\ea04'; }
.icon-fire:before { content: '\ea05'; }
.icon-lab:before { content: '\ea06'; }
.icon-magnet:before { content: '\ea07'; }
.icon-bin:before { content: '\ea08'; }
.icon-bin2:before { content: '\ea09'; }
.icon-briefcase:before { content: '\ea0a'; }
.icon-airplane:before { content: '\ea0b'; }
.icon-truck:before { content: '\ea0c'; }
.icon-road:before { content: '\ea0d'; }
.icon-accessibility:before { content: '\ea0e'; }
.icon-target:before { content: '\ea0f'; }
.icon-shield:before { content: '\ea10'; }
.icon-power:before { content: '\ea11'; }
.icon-switch:before { content: '\ea12'; }
.icon-power-cord:before { content: '\ea13'; }
.icon-clipboard:before { content: '\ea14'; }
.icon-list-numbered:before { content: '\ea15'; }
.icon-list:before { content: '\ea16'; }
.icon-list2:before { content: '\ea17'; }
.icon-tree:before { content: '\ea18'; }
.icon-menu:before { content: '\ea19'; }
.icon-menu2:before { content: '\ea1a'; }
.icon-menu3:before { content: '\ea1b'; }
.icon-menu4:before { content: '\ea1c'; }
.icon-cloud:before { content: '\ea1d'; }
.icon-cloud-download:before { content: '\ea1e'; }
.icon-cloud-upload:before { content: '\ea1f'; }
.icon-cloud-check:before { content: '\ea20'; }
.icon-download2:before { content: '\ea21'; }
.icon-upload2:before { content: '\ea22'; }
.icon-download3:before { content: '\ea23'; }
.icon-upload3:before { content: '\ea24'; }
.icon-sphere:before { content: '\ea25'; }
.icon-earth:before { content: '\ea26'; }
.icon-link:before { content: '\ea27'; }
.icon-flag:before { content: '\ea28'; }
.icon-attachment:before { content: '\ea29'; }
.icon-eye:before { content: '\ea2a'; }
.icon-eye-plus:before { content: '\ea2b'; }
.icon-eye-minus:before { content: '\ea2c'; }
.icon-eye-blocked:before { content: '\ea2d'; }
.icon-bookmark:before { content: '\ea2e'; }
.icon-bookmarks:before { content: '\ea2f'; }
.icon-sun:before { content: '\ea30'; }
.icon-contrast:before { content: '\ea31'; }
.icon-brightness-contrast:before { content: '\ea32'; }
.icon-star-empty:before { content: '\ea33'; }
.icon-star-half:before { content: '\ea34'; }
.icon-star-full:before { content: '\ea35'; }
.icon-heart:before { content: '\ea36'; }
.icon-heart-broken:before { content: '\ea37'; }
.icon-man:before { content: '\ea38'; }
.icon-woman:before { content: '\ea39'; }
.icon-man-woman:before { content: '\ea3a'; }
.icon-happy:before { content: '\ea3b'; }
.icon-happy2:before { content: '\ea3c'; }
.icon-smile:before { content: '\ea3d'; }
.icon-smile2:before { content: '\ea3e'; }
.icon-tongue:before { content: '\ea3f'; }
.icon-tongue2:before { content: '\ea40'; }
.icon-sad:before { content: '\ea41'; }
.icon-sad2:before { content: '\ea42'; }
.icon-wink:before { content: '\ea43'; }
.icon-wink2:before { content: '\ea44'; }
.icon-grin:before { content: '\ea45'; }
.icon-grin2:before { content: '\ea46'; }
.icon-cool:before { content: '\ea47'; }
.icon-cool2:before { content: '\ea48'; }
.icon-angry:before { content: '\ea49'; }
.icon-angry2:before { content: '\ea4a'; }
.icon-evil:before { content: '\ea4b'; }
.icon-evil2:before { content: '\ea4c'; }
.icon-shocked:before { content: '\ea4d'; }
.icon-shocked2:before { content: '\ea4e'; }
.icon-baffled:before { content: '\ea4f'; }
.icon-baffled2:before { content: '\ea50'; }
.icon-confused:before { content: '\ea51'; }
.icon-confused2:before { content: '\ea52'; }
.icon-neutral:before { content: '\ea53'; }
.icon-neutral2:before { content: '\ea54'; }
.icon-hipster:before { content: '\ea55'; }
.icon-hipster2:before { content: '\ea56'; }
.icon-wondering:before { content: '\ea57'; }
.icon-wondering2:before { content: '\ea58'; }
.icon-sleepy:before { content: '\ea59'; }
.icon-sleepy2:before { content: '\ea5a'; }
.icon-frustrated:before { content: '\ea5b'; }
.icon-frustrated2:before { content: '\ea5c'; }
.icon-crying:before { content: '\ea5d'; }
.icon-crying2:before { content: '\ea5e'; }
.icon-point-up:before { content: '\ea5f'; }
.icon-point-right:before { content: '\ea60'; }
.icon-point-down:before { content: '\ea61'; }
.icon-point-left:before { content: '\ea62'; }
.icon-warning:before { content: '\ea63'; }
.icon-notification:before { content: '\ea64'; }
.icon-question:before { content: '\ea65'; }
.icon-plus:before { content: '\ea66'; }
.icon-minus:before { content: '\ea67'; }
.icon-info:before { content: '\ea68'; }
.icon-cancel-circle:before { content: '\ea69'; }
.icon-blocked:before { content: '\ea6a'; }
.icon-cross:before { content: '\ea6b'; }
.icon-checkmark:before { content: '\ea6c'; }
.icon-checkmark2:before { content: '\ea6d'; }
.icon-spell-check:before { content: '\ea6e'; }
.icon-enter:before { content: '\ea6f'; }
.icon-exit:before { content: '\ea70'; }
.icon-play2:before { content: '\ea71'; }
.icon-pause:before { content: '\ea72'; }
.icon-stop:before { content: '\ea73'; }
.icon-previous:before { content: '\ea74'; }
.icon-next:before { content: '\ea75'; }
.icon-backward:before { content: '\ea76'; }
.icon-forward2:before { content: '\ea77'; }
.icon-play3:before { content: '\ea78'; }
.icon-pause2:before { content: '\ea79'; }
.icon-stop2:before { content: '\ea7a'; }
.icon-backward2:before { content: '\ea7b'; }
.icon-forward3:before { content: '\ea7c'; }
.icon-first:before { content: '\ea7d'; }
.icon-last:before { content: '\ea7e'; }
.icon-previous2:before { content: '\ea7f'; }
.icon-next2:before { content: '\ea80'; }
.icon-eject:before { content: '\ea81'; }
.icon-volume-high:before { content: '\ea82'; }
.icon-volume-medium:before { content: '\ea83'; }
.icon-volume-low:before { content: '\ea84'; }
.icon-volume-mute:before { content: '\ea85'; }
.icon-volume-mute2:before { content: '\ea86'; }
.icon-volume-increase:before { content: '\ea87'; }
.icon-volume-decrease:before { content: '\ea88'; }
.icon-loop:before { content: '\ea89'; }
.icon-loop2:before { content: '\ea8a'; }
.icon-infinite:before { content: '\ea8b'; }
.icon-shuffle:before { content: '\ea8c'; }
.icon-arrow-up-left:before { content: '\ea8d'; }
.icon-arrow-up:before { content: '\ea8e'; }
.icon-arrow-up-right:before { content: '\ea8f'; }
.icon-arrow-right:before { content: '\ea90'; }
.icon-arrow-down-right:before { content: '\ea91'; }
.icon-arrow-down:before { content: '\ea92'; }
.icon-arrow-down-left:before { content: '\ea93'; }
.icon-arrow-left:before { content: '\ea94'; }
.icon-arrow-up-left2:before { content: '\ea95'; }
.icon-arrow-up2:before { content: '\ea96'; }
.icon-arrow-up-right2:before { content: '\ea97'; }
.icon-arrow-right2:before { content: '\ea98'; }
.icon-arrow-down-right2:before { content: '\ea99'; }
.icon-arrow-down2:before { content: '\ea9a'; }
.icon-arrow-down-left2:before { content: '\ea9b'; }
.icon-arrow-left2:before { content: '\ea9c'; }
.icon-circle-up:before { content: '\ea9d'; }
.icon-circle-right:before { content: '\ea9e'; }
.icon-circle-down:before { content: '\ea9f'; }
.icon-circle-left:before { content: '\eaa0'; }
.icon-tab:before { content: '\eaa1'; }
.icon-move-up:before { content: '\eaa2'; }
.icon-move-down:before { content: '\eaa3'; }
.icon-sort-alpha-asc:before { content: '\eaa4'; }
.icon-sort-alpha-desc:before { content: '\eaa5'; }
.icon-sort-numeric-asc:before { content: '\eaa6'; }
.icon-sort-numberic-desc:before { content: '\eaa7'; }
.icon-sort-amount-asc:before { content: '\eaa8'; }
.icon-sort-amount-desc:before { content: '\eaa9'; }
.icon-command:before { content: '\eaaa'; }
.icon-shift:before { content: '\eaab'; }
.icon-ctrl:before { content: '\eaac'; }
.icon-opt:before { content: '\eaad'; }
.icon-checkbox-checked:before { content: '\eaae'; }
.icon-checkbox-unchecked:before { content: '\eaaf'; }
.icon-radio-checked:before { content: '\eab0'; }
.icon-radio-checked2:before { content: '\eab1'; }
.icon-radio-unchecked:before { content: '\eab2'; }
.icon-crop:before { content: '\eab3'; }
.icon-make-group:before { content: '\eab4'; }
.icon-ungroup:before { content: '\eab5'; }
.icon-scissors:before { content: '\eab6'; }
.icon-filter:before { content: '\eab7'; }
.icon-font:before { content: '\eab8'; }
.icon-ligature:before { content: '\eab9'; }
.icon-ligature2:before { content: '\eaba'; }
.icon-text-height:before { content: '\eabb'; }
.icon-text-width:before { content: '\eabc'; }
.icon-font-size:before { content: '\eabd'; }
.icon-bold:before { content: '\eabe'; }
.icon-underline:before { content: '\eabf'; }
.icon-italic:before { content: '\eac0'; }
.icon-strikethrough:before { content: '\eac1'; }
.icon-omega:before { content: '\eac2'; }
.icon-sigma:before { content: '\eac3'; }
.icon-page-break:before { content: '\eac4'; }
.icon-superscript:before { content: '\eac5'; }
.icon-subscript:before { content: '\eac6'; }
.icon-superscript2:before { content: '\eac7'; }
.icon-subscript2:before { content: '\eac8'; }
.icon-text-color:before { content: '\eac9'; }
.icon-pagebreak:before { content: '\eaca'; }
.icon-clear-formatting:before { content: '\eacb'; }
.icon-table:before { content: '\eacc'; }
.icon-table2:before { content: '\eacd'; }
.icon-insert-template:before { content: '\eace'; }
.icon-pilcrow:before { content: '\eacf'; }
.icon-ltr:before { content: '\ead0'; }
.icon-rtl:before { content: '\ead1'; }
.icon-section:before { content: '\ead2'; }
.icon-paragraph-left:before { content: '\ead3'; }
.icon-paragraph-center:before { content: '\ead4'; }
.icon-paragraph-right:before { content: '\ead5'; }
.icon-paragraph-justify:before { content: '\ead6'; }
.icon-indent-increase:before { content: '\ead7'; }
.icon-indent-decrease:before { content: '\ead8'; }
.icon-share:before { content: '\ead9'; }
.icon-new-tab:before { content: '\eada'; }
.icon-embed:before { content: '\eadb'; }
.icon-embed2:before { content: '\eadc'; }
.icon-terminal:before { content: '\eadd'; }
.icon-share2:before { content: '\eade'; }
.icon-mail:before { content: '\eadf'; }
.icon-mail2:before { content: '\eae0'; }
.icon-mail3:before { content: '\eae1'; }
.icon-mail4:before { content: '\eae2'; }
.icon-amazon:before { content: '\eae3'; }
.icon-google:before { content: '\eae4'; }
.icon-google2:before { content: '\eae5'; }
.icon-google3:before { content: '\eae6'; }
.icon-google-plus:before { content: '\eae7'; }
.icon-google-plus2:before { content: '\eae8'; }
.icon-google-plus3:before { content: '\eae9'; }
.icon-hangouts:before { content: '\eaea'; }
.icon-google-drive:before { content: '\eaeb'; }
.icon-facebook:before { content: '\eaec'; }
.icon-facebook2:before { content: '\eaed'; }
.icon-instagram:before { content: '\eaee'; }
.icon-whatsapp:before { content: '\eaef'; }
.icon-spotify:before { content: '\eaf0'; }
.icon-telegram:before { content: '\eaf1'; }
.icon-twitter:before { content: '\eaf2'; }
.icon-vine:before { content: '\eaf3'; }
.icon-vk:before { content: '\eaf4'; }
.icon-renren:before { content: '\eaf5'; }
.icon-sina-weibo:before { content: '\eaf6'; }
.icon-rss:before { content: '\eaf7'; }
.icon-rss2:before { content: '\eaf8'; }
.icon-youtube:before { content: '\eaf9'; }
.icon-youtube2:before { content: '\eafa'; }
.icon-twitch:before { content: '\eafb'; }
.icon-vimeo:before { content: '\eafc'; }
.icon-vimeo2:before { content: '\eafd'; }
.icon-lanyrd:before { content: '\eafe'; }
.icon-flickr:before { content: '\eaff'; }
.icon-flickr2:before { content: '\eb00'; }
.icon-flickr3:before { content: '\eb01'; }
.icon-flickr4:before { content: '\eb02'; }
.icon-dribbble:before { content: '\eb03'; }
.icon-behance:before { content: '\eb04'; }
.icon-behance2:before { content: '\eb05'; }
.icon-deviantart:before { content: '\eb06'; }
.icon-500px:before { content: '\eb07'; }
.icon-steam:before { content: '\eb08'; }
.icon-steam2:before { content: '\eb09'; }
.icon-dropbox:before { content: '\eb0a'; }
.icon-onedrive:before { content: '\eb0b'; }
.icon-github:before { content: '\eb0c'; }
.icon-npm:before { content: '\eb0d'; }
.icon-basecamp:before { content: '\eb0e'; }
.icon-trello:before { content: '\eb0f'; }
.icon-wordpress:before { content: '\eb10'; }
.icon-joomla:before { content: '\eb11'; }
.icon-ello:before { content: '\eb12'; }
.icon-blogger:before { content: '\eb13'; }
.icon-blogger2:before { content: '\eb14'; }
.icon-tumblr:before { content: '\eb15'; }
.icon-tumblr2:before { content: '\eb16'; }
.icon-yahoo:before { content: '\eb17'; }
.icon-yahoo2:before { content: '\eb18'; }
.icon-tux:before { content: '\eb19'; }
.icon-appleinc:before { content: '\eb1a'; }
.icon-finder:before { content: '\eb1b'; }
.icon-android:before { content: '\eb1c'; }
.icon-windows:before { content: '\eb1d'; }
.icon-windows8:before { content: '\eb1e'; }
.icon-soundcloud:before { content: '\eb1f'; }
.icon-soundcloud2:before { content: '\eb20'; }
.icon-skype:before { content: '\eb21'; }
.icon-reddit:before { content: '\eb22'; }
.icon-hackernews:before { content: '\eb23'; }
.icon-wikipedia:before { content: '\eb24'; }
.icon-linkedin:before { content: '\eb25'; }
.icon-linkedin2:before { content: '\eb26'; }
.icon-lastfm:before { content: '\eb27'; }
.icon-lastfm2:before { content: '\eb28'; }
.icon-delicious:before { content: '\eb29'; }
.icon-stumbleupon:before { content: '\eb2a'; }
.icon-stumbleupon2:before { content: '\eb2b'; }
.icon-stackoverflow:before { content: '\eb2c'; }
.icon-pinterest:before { content: '\eb2d'; }
.icon-pinterest2:before { content: '\eb2e'; }
.icon-xing:before { content: '\eb2f'; }
.icon-xing2:before { content: '\eb30'; }
.icon-flattr:before { content: '\eb31'; }
.icon-foursquare:before { content: '\eb32'; }
.icon-yelp:before { content: '\eb33'; }
.icon-paypal:before { content: '\eb34'; }
.icon-chrome:before { content: '\eb35'; }
.icon-firefox:before { content: '\eb36'; }
.icon-IE:before { content: '\eb37'; }
.icon-edge:before { content: '\eb38'; }
.icon-safari:before { content: '\eb39'; }
.icon-opera:before { content: '\eb3a'; }
.icon-file-pdf:before { content: '\eb3b'; }
.icon-file-openoffice:before { content: '\eb3c'; }
.icon-file-word:before { content: '\eb3d'; }
.icon-file-excel:before { content: '\eb3e'; }
.icon-libreoffice:before { content: '\eb3f'; }
.icon-html-five:before { content: '\eb40'; }
.icon-html-five2:before { content: '\eb41'; }
.icon-css3:before { content: '\eb42'; }
.icon-git:before { content: '\eb43'; }
.icon-codepen:before { content: '\eb44'; }
.icon-svg:before { content: '\eb45'; }
.icon-IcoMoon:before { content: '\eb46'; }